<header>
<img src="../033-books.png">
<h1>My Travel Library</h1>
</header>

<div class="subheading">
<img src="../009-book-black.png">
<h2>Create a new place</h2>
</div>

<%= form_with :model => @place do |form| %>
  <p>
    <%= form.label "name", "Place name" %>
    <%= form.text_field "name" %>
  </p>
  <%= form.submit %>
<% end %>

<p><a href="/places">Back to All Places</a></p>
